{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}

  <table class="table table-hover col-md-12">
    <tr>
      <th>ID</th>
      <th>本</th>
      <th>メールアドレス</th>
      <th>名前</th>
      <th>問い合わせ内容</th>
      <th>問い合わせ日</th>
    </tr>
    {% for record in records %}
    <tr>
      <td>{{record.id}}</td>
      <td>{{record.book}}</td>
      <td>{{record.mail}}</td>
      <td>{{record.name}}</td>
      <td>{{record.text|linebreaksbr}}</td>
      <td>{{record.create_date}}</td>
    </tr>
    {% endfor %}

  </table>

{% endblock %}