{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
               <h5 class="card-header text-center">認証</h5>
                <p class="card-text">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{form.as_p}}
                        <!--
                        http://strkita.hatenablog.com/entry/2017/08/17/232712
                        ここのやり方で、djangoのフォームにbootstrapを適用できる。とりあえずユーザモデルを作ってから直す。
                        -->
                        <p class="text-center"><button type="submit" class="btn btn-primary">ログイン</button></p>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}