div#title h1 {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  padding: 0.5em;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #eaf3ff;/*背景色*/
  border-bottom: solid 3px #516ab6;/*下線*/
}
div#header h1 {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  border-bottom: solid 3px #ccc;
  position: relative;
}

div#header h1:after {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #000;
  bottom: -3px;
  width: 20%;
}


div#mde table, th, td {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#mde th {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
div#mde td {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  width: 350px;
  padding: 10px;
  vertical-align: top;
}

div#mde  h1 {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size:30px;
  padding: .5em .75em;
  margin-top:40px;
  margin-bottom:10px;
  background-color: #e6e6e6;
  border-radius: 6px;
}

div#mde h2 {
  font-size:25px;
  margin-top:40px;
  margin-bottom: 10px;
  padding: .5em .75em;
  border-bottom: 6px double #aaa;
}

div#mde h3 {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size:20px;
  margin-top:40px;
  margin-bottom: 10px;
  padding: .5em .75em;
  border-bottom: 2px solid #aaa;
}


div#mde h4 {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: .25em 0 .25em .75em;
  border-left: none; /* 左側の線を削除 */
  border-bottom: 3px dotted #aaa; /* 下線を太くして、色を濃くする */
}

div#mde h5 {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size:20px;
  margin-top:40px;
  margin-bottom:10px;
  padding: .5em .75em;
  border: 1px solid #ccc;
}

div#mde img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div#mde p {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  line-height: 2.0em;
  font-size: 18px;
}
div#mde li {
  font-family: 'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 18px;
}

div#mde code {
    background-color: #f5f5f5; /* 背景色: 少し淡いグレー */
    border-radius: 4px;        /* 角を少し丸くする */
    padding: 0.2em 0.4em;      /* 内側に余白をつける */
    font-size: 18px;         /* フォントサイズを少し小さくする */
    font-family: Consolas, "Courier New", monospace; /* 等幅フォント */
    color: #333333;            /* 文字色: ダークグレー */
    word-wrap: break-word;     /* 長い単語を折り返す */
}

div#mde pre code {
    background-color: #000000; /* <pre><code>の背景色を黒に */
    padding: 0.5em;            /* 内側に余白をつける */
    border-radius: 4px;        /* 角を少し丸くする */
    color: #f5f5f5;            /* 文字色を淡いグレーに */
}