{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'save_chapter' book_id chapter_id%}" method="post">
    {%csrf_token%}

    <div class="form-group row">
        <label for="cover" class="col-md-3 col-form-label">
            章<span class="badge badge-warning">必須</span>
        </label>
        <div class="col-md-9" id="cover">
            <p>{{chapter_form.chapter}}</p>
        </div>
    </div>

    <div class="form-group row">
        <label for="cover" class="col-md-3 col-form-label">
            順番
        </label>
        <div class="col-md-9" id="order">
            <p>{{chapter_form.order}}</p>
        </div>
    </div>

    <p class="text-right">
        <button type="submit" class="btn btn-secondary">保存する</button>
    </p>
</form>
{% endblock %}