{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}

  <table class="table table-hover col-md-12">
    <tr>
      <th>ID</th>
      <th>章</th>
      <th>順序</th>
      <th>操作</th>
    </tr>
    {% for record in chapter_records %}
    <tr>
      <td>{{record.id}}</td>
      <td>{{record.chapter}}</td>
      <td>{{record.order}}</td>
      <td>
        <form action="{% url 'edit_chapter' book_id record.id %}" method="GET">
          {%csrf_token%}
          <p class="text-right">
            <input type="submit" class="btn btn-outline-secondary" value="編集">
          </p>
        </form>
      </td>
    </tr>
    {% endfor %}

  </table>

{% endblock %}