{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}
<script>

</script>
    <div class="form-group row">
        <div class="col-md-12" id="image_table">
            <table class="table table-hover border col-md-12">

            </table>
        </div>
    </div>

<form action="{% url 'save_section' book_id chapter_id section_id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}


    <div class="form-group row">
        <label for="order" class="col-md-1 col-form-label">
            順番
        </label>
        <div class="col-md-11" id="order">
            <p>{{section_form.order}}</p>
        </div>
    </div>

    <div class="form-group row">
        <label for="section" class="col-md-1 col-form-label">
            章
        </label>

        <div class="col-md-11" id="section_text">
            <p>{{section_form.text}}</p>
        </div>
    </div>
    <p class="text-right">
        <button type="submit" class="btn btn-secondary">保存する</button>
    </p>
</form>

<script>

    var simplemde = new SimpleMDE({
                element: document.getElementById("id_text"),
                autosave: {
                    enabled: true,
                    uniqueId: "pyarticleeditor{{book_id}}-{{chapter_id}}-{{section_id}}",
                    delay: 1000,
                }
                });

    function insert_image(file_name)
    {
        var line = simplemde.codemirror.getCursor().line;
        var ch = simplemde.codemirror.getCursor().ch;

        //var text = "![]("+file_name +")";
        var text = '<div align="center"><img src="/' + file_name +'" class="img-fluid"></div>';
        simplemde.codemirror.replaceRange(text,{line:line,ch:ch},{line:line,ch:ch});
    }

    function upload_img(dataUri) {
        //ここで画像をdjangoにPOSTする。
        //画像はチャプターとか分けなくてもよい気がする。
        $.ajax({
            url: "{{upload_url}}",
            type: 'POST',
            dataType: 'json',
            data: {'image': dataUri},
            timeout:3000,
            }).done(function(data) {
                insert_image(data['filename']);
            }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                if(XMLHttpRequest.status == 400) {
                    alert("画像サイズが大きすぎます");
                } else {
                    alert(XMLHttpRequest.status);
                }

            });
    }

    document.getElementsByClassName("CodeMirror-scroll")[0].addEventListener('drop', function(e) {
        e.preventDefault();
        file = e.dataTransfer.files[0];
        file_reader = new FileReader();
       file_reader.onload = function(e) {
            //base64のはず
            var dataUri = this.result;
            //これをPOSTして戻ってきたURLを表示できたらOK。
            upload_img(dataUri);
        }

        //Base64で読む
        file_reader.readAsDataURL(file);
    });

</script>
{% endblock %}