{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}
<script>
$(function() {
    $('#id_image').on('change', function(e) {
        // 1枚だけ表示する

        var file = e.target.files[0];

        // ファイルリーダー作成
        var fileReader = new FileReader();
        fileReader.onload = function() {
            // Data URIを取得
            var dataUri = this.result;
            $('#header-img').attr('src', dataUri);
        }

        // ファイルをData URIとして読み込む
        fileReader.readAsDataURL(file);
    });
});
</script>

<form action="{% url 'save_title' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    <div class="form-group row">
        <label for="site_header" class="col-md-3 col-form-label">
            ヘッダ画像
        </label>
        <div class="col-md-9" id="site_header">
           {% if title_form.image %}
            <img src="{{site_image}}" width="256" id="header-img"/>
            {% endif %}
            <p>{{title_form.image}}</p>
        </div>
    </div>

    <div class="form-group row">
        <label for="site_name" class="col-md-3 col-form-label">
            タイトル<span class="badge badge-warning">必須</span>
        </label>
        <div class="col-md-9" id="site_name">
            {{title_form.site_name}}
        </div>
    </div>

    <div class="form-group row">
        <label for="site_description" class="col-md-3 col-form-label">
            説明<span class="badge badge-warning">必須</span>
        </label>
        <div class="col-md-9" id="site_description">
            {{title_form.site_description}}
        </div>
    </div>

    <p class="text-center">
        <button type="submit" class="btn btn-secondary">保存する</button>
    </p>


</form>


{% endblock %}