{% extends "pyarticle/base.html" %}
{% load static %}
{% load mdfilter %}
{% block content %}
<style>



h2 {
  padding-bottom: .5em;
  border-bottom: 3px double #ccc;
}

h3 {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}


h4 {
  padding: .25em 0 .25em .75em;
  border-left: 6px solid #ccc;
}


pre {
  background-color: #444444;
  color: #ffffff;
}


</style>


<div class="row">
    <div class="col-md-3">
        {% if user.is_authenticated %}
        <p class="text-left">
            <span class="badge badge-info">
                <a class="p-2 text-white" href="{% url 'add_chapter' book.id %}">タイトル追加</a>
            </span>
        </p>
        {% endif %}
        {% for chapter in chapter_list %}
            <p>
                <a href="{% url 'disp_book' book.id now_page %}">{{chapter.chapter}}</a>
            </p>
        {% endfor %}
    </div>
    <div class="col-md-9">
        {% if user.is_authenticated %}
        <p class="text-right">
            <span class="badge badge-info">
                <a class="p-2 text-white" href="{% url 'edit_chapter' book.id chapter.id %}">タイトル編集</a>
            </span>
        </p>
        {% endif %}
        <h2 class="pb-3 mb-4 font-italic">
            {{section.chapter}}
        </h2>
        <p>
            {% if user.is_authenticated %}
                <p class="text-right">
                    <span class="badge badge-info">
                        <a class="p-2 text-white" href="{% url 'add_section' book.id chapter.id %}">記事追加</a>
                    </span>
            {%endif %}

            {% if user.is_authenticated %}
                {% if section %}
                    <span class="badge badge-info">
                        <a class="p-2 text-white" href="{% url 'edit_section' book.id chapter.id section.id %}">記事編集</a>
                    </span>
                    <span class="badge badge-danger">
                        <a class="p-2 text-white" href="{% url 'delete_section' book.id chapter.id section.id%}">記事削除</a>
                    </span>
                {% endif %}
            </p>
            {% endif %}
            {{section.text  | markdown2html | safe|linebreaksbr }}

        </p>
        <p>
             Page {{ now_page }} of {{ total_page }}.
        </p>
        <p class="text-center">

            {% if prev_page > 0 %}
                 <a href="{% url 'disp_book' book.id prev_page %}">前のページ</a>
            {% endif %}
            {% if next_page <= total_page %}
                <a href="{% url 'disp_book' book.id next_page %}">次のページ</a>
            {% endif %}
        </p>
    </div>
</div>


{% endblock %}