{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}
    <div class="row" style="margin-left: 0; margin-right: 10; margin-bottom: 30px;">
        <div class="col-md-3">
            <div class="form-group">
                <form action="{% url 'book_search'%}" method="post">
                    {%csrf_token%}
                    <p class="text-center">
                        {{search_form.key_word}}
                    </p>
                    <p class="text-center">
                        <button type="submit" class="btn btn-secondary">検索</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    お知らせ
                </div>
                <div class="card-body">
                    {{site_news|linebreaksbr}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- admax -->
            <script src="https://adm.shinobi.jp/s/55be12244a9b01f682f009066df2a4fc"></script>
            <!-- admax -->
        </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 10;">
        <!--プロフィール表示 -->
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card">
                 <div class="card-header">
                    投稿記事一覧
                </div>
                <div class="card-body">
                    {% for book in books %}
                        <div class="media bg-white border-top">
                            {% if book.0.image %}
                                <img class="mr-3 align-self-center" src="{{book.0.image.url}}" width="128">
                            {% else %}
                                <img class="mr-3 align-self-center" src="{% static 'noimage.jpg' %}" width="128">
                            {% endif %}
                            <div class="media-body">
                                <strong class="d-inline-block mb-2 text-secondary">{{book.0.category}}</strong>
                                <a href="{% url 'disp_book' book.0.id 1 %}"><h4>{{book.0.title}}</h4></a>
                                <p>{{book.0.description|linebreaksbr}}</p>
                                <a href="{% url 'disp_book' book.0.id 1 %}">続きを読む</a>
                                <div class="mb-1 text-muted text-right">{{book.1}}views</div>
                                <div class="mb-1 text-muted text-right">{{book.0.create_date}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3 bg-light">
            <div class=" sidebar_fixed">
                <!-- admax -->
                <script src="https://adm.shinobi.jp/s/97c59c2e5c821337d31c04b0d3fd3f7e"></script>
                <!-- admax -->
            </div>
        </div>
    </div>

    <!-- 自分の投稿記事表示 -->

    <!--コメント表示 -->
{% endblock %}