{% extends "pyarticle/base.html" %}
{% load static %}
{% block content %}
{{book.image.url}}
<style>
  .card-img-top {
    max-width: 100%;
    flex-shrink:0;
 }
</style>
<div class="row">
  <div class="col-md-12">
    <p class="text-right">
      {% if user.is_authenticated %}
      <span class="badge badge-info">
        <a class="p-2 text-white" href="{% url 'add_book' %}">記事追加</a>
      </span>

      {% endif %}
    </p>
  </div>
</div>

  {% for category, books_record in book_records.items %}
  <div class="row">
    <div class="col-md-12">
    <h3 class="pb-3 mb-4 font-italic bg-secondary text-white">{{ category }}</h3>
    </div>
  </div>
    <div class="row">
      {% for book, chapter, section in books_record %}
      <div class="col-md-3 d-flex">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column">
            <!-- ログインしているユーザにだけ見せる -->
            {% if user.is_authenticated %}
              <nav class="nav d-flex justify-content-end">
                <span class="badge badge-info">
                  <a class="p-2 text-white" href="{% url 'edit_book' book.id %}">編集</a>
                </span>
                <span class="badge badge-danger">
                  <a class="p-2 text-white" href="{% url 'delete_book' book.id %}">削除</a>
                </span>
              </nav>
            {% endif %}

             <strong class="d-inline-block mb-2 text-primary">{{category}}</strong>
          {% if book.image %}
            <img class="card-img-top" src="{{book.image.url}}" alt="Card image cap">
          {% endif %}
            <h4 class="card-title">
              <a class="text-dark" href="{% url 'disp_book' book.id 1 %}">{{book.title}}</a>
            </h4>

            <div class="mb-1 text-muted">{{book.user}}</div>
            <div class="mb-1 text-muted">{{book.create_date}}</div>
            <p class="card-text mb-auto">{{book.description | linebreaksbr}}</p>
            <a href="{% url 'disp_book' book.id 1 %}">続きを読む</a>

          </div>
        </div>
      </div>
  {% endfor %}
    </div>
  {% endfor %}
{% endblock %}